<!--provide by panjidia995 njoXLyss
  bijandocker.blogspot.co.id
  panjidia995@gmail.com-->
<html>
	<head>
		<title>Coba Anguci</title>
	</head>
	<body>
	<script src="src/angular.min.js"></script>
		<div ng-app="myapp" ng-controller="usercontroller" ng-init="displaydata()">
		<form>
		<input type="text" name="nama" ng-model="nama" ng-click="tombolMuncul()"/>
		<br/><br/>
		<input type="text" name="kelas" ng-model="kelas" ng-click="tombolMuncul()"/>
		<br/><br/>
		<input type="hidden" name="id" ng-model="id""/>
		<input type="submit" value="{{BtnName}}" ng-click="insertdata()"/>
		<input type="{{Type}}" value="cancel" ng-click="cancel()"/>
		</form>

		<table border="1">
			<tr>
				<th>nama</th>
				<th>kelas</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
			<tr ng-repeat="x in names">
				<td>{{x.nama}}</td>
				<td>{{x.kelas}}</td>
				<td><button ng-click="updateData(x.id, x.nama, x.kelas)">Update</button></td>
				<td><button ng-click="deleteData(x.id)">Delete</button></td>
			</tr>
		</table>
		</div>
	</body>
</html>
<script>
	var app = angular.module("myapp",[]);

	app.controller("usercontroller", function($scope,$http){
		$scope.BtnName = "Add";
		$scope.Type="hidden";

		$scope.insertdata = function(){
			if($scope.nama == null){
				alert("nama nya kosong!!!!");
			}
			else if($scope.kelas == null){
				alert("gadue kelas??!!");
			} 
			else if($scope.nama == null && $scope.kelas == null){
				alert("GAK NIAT??!!");
			} 
			else{
			$http.post("insert.php",{'nama':$scope.nama, 'kelas':$scope.kelas, 'id':$scope.id, 'BtnName':$scope.BtnName}
				).then(function(data){
					$scope.nama=null;
					$scope.kelas=null;
					$scope.id=null;
					$scope.BtnName="Add";
					$scope.displaydata();
					$scope.Type="hidden";
			})
			}
		}

		$scope.displaydata = function(){
			$http.get("select.php").then(function(data){
				$scope.names= data.data;
			})
		}

		$scope.updateData = function(id, nama, kelas){
			$scope.id = id;
			$scope.nama = nama;
			$scope.kelas = kelas;
			$scope.BtnName = "Update";
			$scope.Type="submit";
		}
		$scope.deleteData = function(id){
			if(confirm("yakin?")){
				$http.post("delete.php",{'id':id}).then(function(data){
					alert(data);
					$scope.displaydata();
					$scope.BtnName="Add";
					$scope.nama=null;
					$scope.kelas=null;
				});
			}
			else{
				return false;
			}
		}
		$scope.cancel = function(){
			$scope.nama=null;
			$scope.kelas=null;
			$scope.id=null;
			$scope.BtnName="Add";
			$scope.Type="hidden";
		}
		$scope.tombolMuncul =function(){
			$scope.Type="submit";
		}
	});
</script>
